@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif' ,'Outfit';
}

html,
body {  
 
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  overflow-x: hidden; /* Prevents page-wide horizontal scroll */
}
.outfit {
  font-family: 'Outfit', sans-serif;
}

.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
<<<<<<< HEAD
  /* float: left; */
=======
>>>>>>> 2007c9b628b08efbdd8cf3b3f77dd7e1f55dd4a6
  text-decoration: none;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.wrapper .button:hover {
  width: 200px;
}

.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  color: #000;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
  background: #4267B2;
}

.wrapper .button:nth-child(2):hover .icon {
  background: #1DA1F2;
}

.wrapper .button:nth-child(3):hover .icon {
  background: #E1306C;
}

.wrapper .button:nth-child(4):hover .icon {
  background: #333;
}

.wrapper .button:nth-child(5):hover .icon {
  background: #ff0000;
}

.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
  color: #fff;
}

.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
  color: #4267B2;
}

.wrapper .button:nth-child(2) span {
  color: #1DA1F2;
}

.wrapper .button:nth-child(3) span {
  color: #E1306C;
}

.wrapper .button:nth-child(4) span {
  color: #333;
}

.wrapper .button:nth-child(5) span {
  color: #ff0000;
}


.faq-item:not(.open) .faq-answer {
      display: none;
      color: #000;
      background-color: red;
    }

<<<<<<< HEAD
 #footer, #footer * {
  font-family: 'Outfit', sans-serif !important;
 
          
}

#footer {
 padding-right: 0%;
  padding-top: 20px;
  
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

=======
    /* Container wrapper */
.downloadWrapper {
  position: relative;
  display: inline-block;
}

.mainBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-color: #0055F1;
  width: 80px;
  height: 40px;
  border-radius: 999px;
  padding: 0 6px;
}

.divider {
  background-color: white;
  width: 1px;
  height: 10px;
}

.androidicon, .appleicon {
  height: 32px;
  display: flex;
  align-items: center;
}

.androidimg {
  height: 100%;
  margin-left: 3px;
}
.appleimg {
  height: 100%;
  margin-right: 4px;
}

.playStore {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 40px;
  border-radius: 999px;
  background-color: #0055F1;
  color: white;
  font-size: 10px;
  font-weight: 500;
  font-family: sans-serif;
  padding: 0 6px;
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transform: translateX(0);
  transition: all 0.3s ease;
}

.playStore.showPlay {
  opacity: 1;
  visibility: visible;
  transform: translateX(-63px);
  border-radius: 999px 0 0 999px;
}

.appStore {
  position: absolute;
  top: 0;
  left: 0px;
  width: 125px;
  height: 40px;
  border-radius: 999px;
  background-color: #0055F1;
  color: white;
  font-size: 9px;
  font-weight: 500;
  font-family: sans-serif;
  padding: 2px 6px;
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.downloadWrapper.hoverApple .mainBox {
  transform: translateX(-63px);
  transition: transform 0.3s ease;
}

.downloadWrapper.hoverApple .appStore {
  border-radius: 0 999px 999px 0;
  opacity: 1;
  visibility: visible;
}

.visited-arrow:visited::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 0.5rem; 
  background-image: url("/htmlLanding/Images/VectorArr.svg");
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}


.navLink {
  @apply relative inline-block text-[#595959] font-medium text-[16px] tracking-[0.04em] leading-[100%] font-[Outfit];
}
.navLink span {
  @apply absolute left-1/2 -translate-x-1/2 bottom-[-15px] w-full h-[3px] bg-blue-600 rounded-[3px] opacity-0 transition-all duration-300 group-hover:opacity-100;
}
>>>>>>> 2007c9b628b08efbdd8cf3b3f77dd7e1f55dd4a6
